<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
      <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
      <uses-permission android:name="android.permission.CAMERA" />
      <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
      <uses-permission
          android:name="android.permission.READ_EXTERNAL_STORAGE"
          android:maxSdkVersion="32" />
      <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
      <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
      <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE" /> -->
      <uses-permission android:name="android.permission.CAMERA" />
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
      <uses-permission
          android:name="android.permission.WRITE_EXTERNAL_STORAGE"
          android:maxSdkVersion="32"
          tools:replace="android:maxSdkVersion" />
      <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
      <uses-permission
          android:name="android.permission.READ_EXTERNAL_STORAGE"
          android:maxSdkVersion="32" />

      <uses-feature
          android:name="android.hardware.camera"
          android:required="true" />

      <uses-permission
          android:name="android.permission.HARDWARE_TEST"
          tools:ignore="ProtectedPermissions" />

      <queries>
            <intent>
                  <action android:name="android.media.action.IMAGE_CAPTURE" />
            </intent>
      </queries>

      <application
          android:name=".Utils.AppController"
          android:allowBackup="true"
          android:hardwareAccelerated="true"
          android:icon="@mipmap/ic_launcher_sss_logo"
          android:label="@string/app_name"
          android:largeHeap="true"
          android:networkSecurityConfig="@xml/network_security_config"
          android:requestLegacyExternalStorage="true"
          android:roundIcon="@mipmap/ic_launcher_sss_logo"
          android:supportsRtl="true"
          android:theme="@style/AppTheme"
          android:usesCleartextTraffic="true">
            <activity
                android:name=".activitys.FairOrderActivity"
                android:exported="false" />
            <activity
                android:name=".activitys.BookingListActivity"
                android:launchMode="singleTask"
                android:exported="false" />
            <activity
                android:name=".activitys.BookingRequestActivity"
                android:exported="false" />
            <activity
                android:name=".activitys.customer.CustomerListActivity"
                android:exported="false" />
            <activity
                android:name=".activitys.AddGuestInBookingActivity"
                android:exported="false"
                android:screenOrientation="portrait" />
            <activity
                android:name=".activitys.GuestListBookingActivity"
                android:exported="false" />
            <activity
                android:name=".activitys.clubtype.ClubTypeActivity"
                android:exported="false" />
            <activity
                android:name=".activitys.supplierorderform.SupplierReportActivity"
                android:exported="false" />
            <activity
                android:name=".activitys.supplierorderform.OrderImageActivity"
                android:exported="false" />
            <activity
                android:name=".activitys.supplierorderform.SupplierOrderFormActivity"
                android:exported="false"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustResize" /> <!-- <provider -->
            <!-- android:name="androidx.core.content.FileProvider" -->
            <!-- android:authorities="${applicationId}.provider" -->
            <!-- android:exported="false" -->
            <!-- android:grantUriPermissions="true"> -->
            <!-- <meta-data -->
            <!-- android:name="android.support.FILE_PROVIDER_PATHS" -->
            <!-- android:resource="@xml/file_paths" /> -->
            <!-- </provider> -->
            <activity
                android:name=".activitys.ViewPDFActivity"
                android:exported="false" />
            <activity
                android:name=".activitys.PendingOrderItemDetailsActivity"
                android:exported="false" />
            <activity
                android:name=".activitys.GraphTestActivity"
                android:exported="false" />
            <activity
                android:name=".activitys.BaseLoaderActivity"
                android:exported="false" />
            <activity
                android:name=".activitys.NewDashBoardActivity"
                android:exported="false" />
            <activity
                android:name=".activitys.NewGallery.SingleImgesGalleryActivity"
                android:exported="false" />
            <activity
                android:name=".activitys.Offers.OffersActivity"
                android:exported="false" />
            <activity
                android:name=".activitys.BaseActivity"
                android:exported="false" />
            <activity
                android:name=".activitys.NewGallery.ViewAllActivity"
                android:exported="false" />
            <activity
                android:name=".activitys.NewGallery.ViewMoreActivity"
                android:exported="false" />
            <activity
                android:name=".activitys.BrandImageGalleryActivity"
                android:exported="true"
                android:screenOrientation="portrait" />
            <activity
                android:name=".activitys.BrandDetailsActivity"
                android:exported="true"
                android:screenOrientation="portrait" />
            <activity
                android:name=".activitys.BrandListActivity"
                android:exported="true"
                android:screenOrientation="portrait" />
            <activity
                android:name=".activitys.BranchWithLogoActivity"
                android:exported="true"
                android:screenOrientation="portrait" />
            <activity
                android:name=".activitys.ApplyForKYCActivity"
                android:exported="true"
                android:screenOrientation="portrait" />
            <activity
                android:name=".activitys.ImageGalleryActivity"
                android:exported="true"
                android:screenOrientation="portrait" />
            <activity
                android:name=".activitys.CustomerReviewsActivity"
                android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
                android:exported="true"
                android:screenOrientation="portrait" />
            <activity
                android:name=".activitys.WhySSSActivity"
                android:exported="true"
                android:screenOrientation="portrait" />
            <activity
                android:name=".activitys.GalleryActivity"
                android:exported="true"
                android:screenOrientation="portrait" />
            <activity
                android:name=".activitys.LoginPage"
                android:exported="true"
                android:screenOrientation="portrait" />
            <activity
                android:name=".activitys.GST_NumberActivity"
                android:exported="true"
                android:screenOrientation="portrait" />
            <activity
                android:name=".activitys.ReferralCodeActivity"
                android:exported="true"
                android:screenOrientation="portrait" />
            <activity
                android:name=".activitys.AppropriateTypeActivity"
                android:exported="true"
                android:screenOrientation="portrait" />
            <activity
                android:name=".activitys.GalleryViewAllActivity"
                android:exported="true"
                android:screenOrientation="portrait" />
            <activity
                android:name=".activitys.FAQActivity"
                android:exported="true"
                android:screenOrientation="portrait" />
            <activity
                android:name=".activitys.ViewImageActivity"
                android:exported="true"
                android:screenOrientation="portrait" />
            <activity
                android:name=".activitys.CreditNoteActivity"
                android:exported="true"
                android:screenOrientation="portrait" />
            <activity
                android:name=".activitys.AboutUsActivity"
                android:exported="true"
                android:screenOrientation="portrait" />

            <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/google_maps_key" />

            <activity
                android:name=".activitys.DR_Note_Customer"
                android:exported="true"
                android:screenOrientation="portrait" />
            <activity
                android:name=".activitys.CR_Note_Suppl"
                android:exported="true"
                android:screenOrientation="portrait" />
            <activity
                android:name=".activitys.DrNoteActivity"
                android:exported="true"
                android:screenOrientation="portrait" />
            <activity
                android:name=".activitys.GoodsReturnActivity"
                android:exported="true"
                android:screenOrientation="portrait" />
            <activity
                android:name=".activitys.GodownPackingActivity"
                android:exported="true"
                android:screenOrientation="portrait" />
            <activity
                android:name=".activitys.AccountActivity"
                android:exported="true"
                android:screenOrientation="portrait" />
            <activity
                android:name=".activitys.BillingActivity"
                android:exported="true"
                android:screenOrientation="portrait" />
            <activity
                android:name=".activitys.DashBoardActivity"
                android:exported="true"
                android:screenOrientation="portrait" />
            <activity
                android:name=".activitys.SaleService"
                android:exported="true"
                android:screenOrientation="portrait" />
            <activity
                android:name=".activitys.ChooseCategries"
                android:exported="true"
                android:screenOrientation="portrait" />
            <activity
                android:name=".activitys.registered_msg"
                android:exported="true"
                android:screenOrientation="portrait" />
            <activity
                android:name=".activitys.OTPActivity"
                android:exported="true"
                android:screenOrientation="portrait" />
            <activity
                android:name=".activitys.MainActivity"
                android:exported="true"
                android:screenOrientation="portrait" />
            <activity
                android:name=".activitys.BranchMarketerActivity"
                android:exported="true"
                android:screenOrientation="portrait" />
            <activity
                android:name=".activitys.FeedbackActivity2"
                android:exported="true"
                android:screenOrientation="portrait" />
            <activity
                android:name=".activitys.BranchItemDetailsActivity"
                android:exported="true"
                android:screenOrientation="portrait" />
            <activity
                android:name=".activitys.CourierReportActivity"
                android:exported="true"
                android:screenOrientation="portrait" />
            <activity
                android:name=".activitys.O_BranchesActivity"
                android:exported="true"
                android:screenOrientation="portrait" />
            <activity
                android:name=".activitys.BankDetailActivity"
                android:exported="true"
                android:screenOrientation="portrait" />
            <activity
                android:name=".activitys.ProfileActivity"
                android:exported="true"
                android:screenOrientation="portrait" />
            <activity
                android:name=".activitys.StockInOfficeActivity"
                android:exported="true"
                android:screenOrientation="portrait" />
            <activity
                android:name=".activitys.SaleReportActivity"
                android:exported="true"
                android:screenOrientation="portrait" />
            <activity
                android:name=".activitys.LedgerActivity"
                android:exported="true"
                android:screenOrientation="portrait" />
            <activity
                android:name=".activitys.PendingOrderActivity"
                android:exported="true"
                android:screenOrientation="portrait" />
            <activity
                android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
                android:theme="@style/Base.Theme.AppCompat" />
            <activity
                android:name=".activitys.SplashActivity"
                android:exported="true">
                  <intent-filter>
                        <action android:name="android.intent.action.MAIN" />

                        <category android:name="android.intent.category.LAUNCHER" />
                  </intent-filter>
            </activity>

            <activity-alias
                android:name=".helper.DiamondActivityAlias"
                android:enabled="false"
                android:exported="true"
                android:icon="@mipmap/ic_launcher__new_diamond"
                android:label="@string/app_name"
                android:roundIcon="@mipmap/ic_launcher__new_diamond"
                android:targetActivity=".activitys.SplashActivity">
                  <intent-filter>
                        <action android:name="android.intent.action.MAIN" />

                        <category android:name="android.intent.category.LAUNCHER" />
                  </intent-filter>
            </activity-alias>
            <activity-alias
                android:name=".helper.GoldActivityAlias"
                android:enabled="false"
                android:exported="true"
                android:icon="@mipmap/ic_launcher__new_gold"
                android:label="@string/app_name"
                android:roundIcon="@mipmap/ic_launcher__new_gold"
                android:targetActivity=".activitys.SplashActivity">
                  <intent-filter>
                        <action android:name="android.intent.action.MAIN" />

                        <category android:name="android.intent.category.LAUNCHER" />
                  </intent-filter>
            </activity-alias> <!-- <activity-alias -->
            <!-- android:name=".helper.DefaultActivityAlias" -->
            <!-- android:enabled="true" -->
            <!-- android:exported="true" -->
            <!-- android:icon="@mipmap/ic_launcher_sss_logo" -->
            <!-- android:label="@string/app_name" -->
            <!-- android:roundIcon="@mipmap/ic_launcher_sss_logo" -->
            <!-- android:targetActivity=".activitys.SplashActivity"> -->
            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
            <!-- </activity-alias> -->
            <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="com.syber.ssspltd.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
                  <meta-data
                      android:name="android.support.FILE_PROVIDER_PATHS"
                      android:resource="@xml/provider_paths" />
            </provider>
      </application>

</manifest>